body {
background-color: rgb(158, 119, 178)
}

h1 {
color: #CAB9F1;
text-shadow: 3px 3px 5px #661982;
text-align: center;
padding-top: 30px;
}

h2 {
    color: #CAB9F1;
        text-shadow: 3px 3px 5px #661982;
        text-align: center;
        font-size: 40px;
}

.sister {
    text-align: left;
}
.friend {
    text-align: right;
}